body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


#scanPage {
  position: relative;
  display: none;
}

#paymentPage {
  display: none;
}


h1, h2 {
  text-align: center;
  margin: 10px 0;
}

#video {
  width: 80%;
  max-width: 250px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  display: block;
  margin: 10px auto;
}


#canvas {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 250px;
  pointer-events: none;
}


#itemDisplay img {
  max-width: 200px;
  display: block;
  margin: 5px auto;
}

#total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

#controls {
  margin-top: 15px;
  text-align: center;
}

#controls button {
  padding: 8px 16px;
  font-size: 16px;
  margin: 0 5px;
}

#paymentPage {
  display: none;
  text-align: center;
  margin-top: 50px;
}

#message {
  margin-top: 8px;
  font-size: 14px;
  color: red;
  text-align: center;
}

body {
  background: rgb(245, 224, 169)
}
